<div class="container">
  <%= form_with(model: feed, local: true, url:choose_new_or_edit) do |form| %>
    <div class="row">
      <div class="col-md-3"></div>
        <div class="content col-md-6">
          <% if feed.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>
              <ul>
              <% feed.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <p id="subject"><%= form.label :content %></p>
            <p id="text"><%= form.text_area :content %></p>
          </div>
          <div class="field">
            <p id="content_label"><%= form.label :image %></p>
            <p id=file_field><%= form.file_field :image %></p>
            <p><%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %></p>
            <p><%= form.hidden_field :image_cache %></p>
          </div>
          <div class="actions">
            <p class="submit"><%= form.submit value="投稿" %></p>
          </div>
        </div>
        <div class="col-md-3"></div>
    </div>
  <% end %>
</div>
