<p id="notice"><%= notice %></p>
<h3>こんにちは！<%= @user.name %> さん！</h3>
<table>
  

  <tbody>
    
   
      <% @feeds.each do |feed| %>
        
        <h4><%= link_to feed.user.name, user_path(feed.user.id) %></h4>
        <p><%= image_tag feed.image.url %></p>
        <p><%= feed.content %></p>
        <p><%= link_to 'Show', feed %></p>
        <p><%= link_to 'Edit', edit_feed_path(feed) %></p>
        <p><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        
      <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
