<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% @feeds.each do |feed| %>
  <p>投稿: <%= image_tag feed.image.url %></p>
  <p>投稿: <%= feed.content %></p>
<% end %>
<%= link_to '投稿する', new_feed_path %>
<%= link_to "ホームに戻る", feeds_path %>
